---
swagger: "2.0"
info:
  description: "SendinBlue provide a RESTFul API that can be used with any languages.\
    \ With this API, you will be able to :\n  - Manage your campaigns and get the\
    \ statistics\n  - Manage your contacts\n  - Send transactional Emails and SMS\n\
    \  - and much more...\n\nYou can download our wrappers at https://github.com/orgs/sendinblue\n\
    \n**Possible responses**\n  | Code | Message |\n  | :-------------: | -------------\
    \ |\n  | 200  | OK. Successful Request  |\n  | 201  | OK. Successful Creation\
    \ |\n  | 202  | OK. Request accepted |\n  | 204  | OK. Successful Update/Deletion\
    \  |\n  | 400  | Error. Bad Request  |\n  | 401  | Error. Authentication Needed\
    \  |\n  | 402  | Error. Not enough credit, plan upgrade needed  |\n  | 403  |\
    \ Error. Permission denied  |\n  | 404  | Error. Object does not exist |\n  |\
    \ 405  | Error. Method not allowed  |\n  | 406  | Error. Not Acceptable  |\n"
  version: "3.0.0"
  title: "SendinBlue API"
  contact:
    name: "Sendinblue Support"
    url: "https://account.sendinblue.com/support"
    email: "contact@sendinblue.com"
  license:
    name: "MIT"
    url: "http://opensource.org/licenses/MIT"
host: "api.sendinblue.com"
basePath: "/v3"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- api-key: []
- partner-key: []
paths:
  /emailCampaigns:
    get:
      tags:
      - "Email Campaigns"
      summary: "Return all your created email campaigns"
      operationId: "getEmailCampaigns"
      parameters:
      - name: "type"
        in: "query"
        description: "Filter on the type of the campaigns"
        required: false
        type: "string"
        enum:
        - "classic"
        - "trigger"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "status"
        in: "query"
        description: "Filter on the status of the campaign"
        required: false
        type: "string"
        enum:
        - "suspended"
        - "archive"
        - "sent"
        - "queued"
        - "draft"
        - "inProcess"
        x-exportParamName: "Status"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting (urlencoded) UTC date-time\
          \ (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns. Prefer\
          \ to pass your timezone in date-time format for accurate result ( only available\
          \ if either 'status' not passed and if passed is set to 'sent' )"
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending (urlencoded) UTC date-time\
          \ (YYYY-MM-DDTHH:mm:ss.SSSZ) to filter the sent email campaigns. Prefer\
          \ to pass your timezone in date-time format for accurate result ( only available\
          \ if either 'status' not passed and if passed is set to 'sent' )"
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 50
        maximum: 100
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document in the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Email campaigns informations"
          examples:
            applications/json:
              campaigns:
              - id: 12
                name: "EN - Sales Summer 2017"
                subject: "20% OFF for 2017 Summer Sales"
                type: "classic"
                status: "sent"
                scheduledAt: "2017-06-01T12:30:00Z"
                testSent: true
                header: "[DEFAULT_HEADER]"
                footer: "[DEFAULT_FOOTER]"
                sender:
                  email: "marketing@mycompany.com"
                  name: "Marketing"
                  id: 26
                replyTo: "replyto@domain.com"
                toField: "{FNAME} {LNAME}"
                htmlContent: "This is my HTML Content"
                shareLink: "http://example.com/fhsgccc.html?t=9865448900"
                tag: "Newsletter"
                createdAt: "2017-05-01T12:30:00Z"
                modifiedAt: "2017-05-01T12:30:00Z"
                inlineImageActivation: true
                mirrorActive: true
                recurring: false
                recipients:
                  lists:
                  - 5
                  exclusionLists:
                  - 13
                statistics:
                  globalStats:
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    trackableViews: 5661
                    trackableViewsRate: 23.45
                    estimatedViews: 560
                    unsubscriptions: 2
                    viewed: 8999
                  campaignStats:
                  - listId: 5
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    trackableViews: 5661
                    unsubscriptions: 2
                    viewed: 8999
                    deferred: 30
                  mirrorClick: 120
                  remaining: 1000
                  linksStats:
                    http://myUrl1.domain.com: 80
                  statsByDomain:
                    yahoo:
                      uniqueClicks: 2300
                      clickers: 2665
                      complaints: 1
                      delivered: 19765
                      sent: 19887
                      softBounces: 100
                      hardBounces: 87
                      uniqueViews: 7779
                      unsubscriptions: 2
                      viewed: 8999
                      deferred: 30
                    gmail:
                      uniqueClicks: 2300
                      clickers: 2665
                      complaints: 1
                      delivered: 19765
                      sent: 19887
                      softBounces: 100
                      hardBounces: 87
                      uniqueViews: 7779
                      unsubscriptions: 2
                      viewed: 8999
                      deferred: 30
              - id: 22
                name: "Weekly - 1"
                subject: "Week 1 - Newsletter"
                type: "Classic"
                status: "draft"
                scheduledAt: ""
                testSent: false
                header: "[DEFAULT_HEADER]"
                footer: "[DEFAULT_FOOTER]"
                sender:
                  email: "newsletter@mycompany.com"
                  name: "Newsletter"
                  id: 26
                replyTo: "replyto@domain.com"
                toField: "{FNAME} {LNAME}"
                htmlContent: "This is my HTML Content"
                shareLink: "http://example.com/fhsgccc.html?t=9865448900"
                tag: "Newsletter"
                createdAt: "2017-05-01T12:30:00Z"
                modifiedAt: "2017-05-01T12:30:00Z"
                inlineImageActivation: true
                mirrorActive: true
                recurring: false
                recipients:
                  lists:
                  - 10
                  exclusionLists:
                  - 45
                statistics:
                  globalStats:
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    trackableViews: 5661
                    trackableViewsRate: 23.45
                    estimatedViews: 560
                    unsubscriptions: 2
                    viewed: 8999
                  campaignStats:
                  - listId: 10
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    trackableViews: 5661
                    unsubscriptions: 2
                    viewed: 8999
                    deferred: 30
                  mirrorClick: 120
                  remaining: 1000
                  linksStats:
                    http://myUrl1.domain.com:
                      nbClick: 80
                    http://myUrl2.domain.com:
                      nbClick: 80
                    http://myUrl3.domain.com:
                      nbClick: 80
                  statsByDomain:
                    yahoo.com:
                      uniqueClicks: 298
                      clickers: 533
                      complaints: 0
                      sent: 25601
                      softBounces: 5
                      hardBounces: 0
                      uniqueViews: 3527
                      unsubscriptions: 17
                      viewed: 5255
                      delivered: 25596
                    hotmail.co.uk:
                      uniqueClicks: 1970
                      clickers: 2720
                      complaints: 5
                      sent: 117055
                      softBounces: 111
                      hardBounces: 0
                      uniqueViews: 21111
                      unsubscriptions: 105
                      viewed: 35251
                      delivered: 117056
              count: 2
          schema:
            $ref: "#/definitions/getEmailCampaigns"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Email Campaigns"
      summary: "Create an email campaign"
      operationId: "createEmailCampaign"
      parameters:
      - in: "body"
        name: "emailCampaigns"
        description: "Values to create a campaign"
        required: true
        schema:
          $ref: "#/definitions/createEmailCampaign"
        x-exportParamName: "EmailCampaigns"
      responses:
        "201":
          description: "Email campaign created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}:
    get:
      tags:
      - "Email Campaigns"
      summary: "Get an email campaign report"
      operationId: "getEmailCampaign"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      responses:
        "200":
          description: "Email campaign informations"
          examples:
            application/json:
              id: 22
              name: "Weekly - 1"
              subject: "Week 1 - Newsletter"
              type: "classic"
              status: "draft"
              scheduledAt: "2017-09-22T12:30:00Z"
              testSent: false
              header: "[DEFAULT_HEADER]"
              footer: "[DEFAULT_FOOTER]"
              sender:
                email: "newsletter@mycompany.com"
                name: "Newsletter"
                id: 26
              replyTo: "replyto@domain.com"
              toField: "{FNAME} {LNAME}"
              htmlContent: "This is my HTML Content"
              shareLink: "http://dhh.sendinblue.com/fhsgccc.html?t=9865448900"
              tag: "Newsletter"
              createdAt: "2017-05-01T12:30:00Z"
              modifiedAt: "2017-05-01T12:30:00Z"
              inlineImageActivation: true
              mirrorActive: true
              recurring: false
              recipients:
                lists:
                - 22
                exclusionLists:
                - 45
              statistics:
                globalStats:
                  uniqueClicks: 2300
                  clickers: 2665
                  complaints: 1
                  delivered: 19765
                  sent: 19887
                  softBounces: 100
                  hardBounces: 87
                  uniqueViews: 7779
                  trackableViews: 5661
                  trackableViewsRate: 23.45
                  estimatedViews: 560
                  unsubscriptions: 2
                  viewed: 8999
                campaignStats:
                - listId: 22
                  uniqueClicks: 2300
                  clickers: 2665
                  complaints: 1
                  delivered: 19765
                  sent: 19887
                  softBounces: 100
                  hardBounces: 87
                  uniqueViews: 7779
                  trackableViews: 5661
                  unsubscriptions: 2
                  viewed: 8999
                  deferred: 30
                mirrorClick: 120
                remaining: 1000
                linksStats:
                  http://myUrl1.domain.com:
                    nbClick: 80
                  http://myUrl2.domain.com:
                    nbClick: 80
                  http://myUrl3.domain.com:
                    nbClick: 80
                statsByDomain:
                  gmail:
                    uniqueClicks: 2300
                    clickers: 2665
                    complaints: 1
                    delivered: 19765
                    sent: 19887
                    softBounces: 100
                    hardBounces: 87
                    uniqueViews: 7779
                    unsubscriptions: 2
                    viewed: 8999
                    deferred: 30
                statsByDevice:
                  desktop:
                    mac:
                      clickers: 1
                      uniqueClicks: 0
                      viewed: 2
                      uniqueViews: 1
                  mobile:
                    androidMobile:
                      clickers: 1
                      uniqueClicks: 0
                      viewed: 1
                      uniqueViews: 0
                    iPhone:
                      clickers: 1
                      uniqueClicks: 0
                      viewed: 2
                      uniqueViews: 0
                statsByBrowser:
                  thunderbird:
                    clickers: 1
                    uniqueClicks: 0
                    viewed: 1
                    uniqueViews: 0
                  safari:
                    clickers: 1
                    uniqueClicks: 0
                    viewed: 1
                    uniqueViews: 0
                  internetExplorer:
                    clickers: 0
                    uniqueClicks: 0
                    viewed: 1
                    uniqueViews: 0
          schema:
            $ref: "#/definitions/getEmailCampaign"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Email Campaigns"
      summary: "Update an email campaign"
      operationId: "updateEmailCampaign"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "emailCampaign"
        description: "Values to update a campaign"
        required: true
        schema:
          $ref: "#/definitions/updateEmailCampaign"
        x-exportParamName: "EmailCampaign"
      responses:
        "204":
          description: "Email Campaign has been updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Email Campaigns"
      summary: "Delete an email campaign"
      operationId: "deleteEmailCampaign"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "id of the campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      responses:
        "204":
          description: "Email campaign has been deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/sendNow:
    post:
      tags:
      - "Email Campaigns"
      summary: "Send an email campaign immediately, based on campaignId"
      operationId: "sendEmailCampaignNow"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      responses:
        "204":
          description: "Email campaign has been scheduled"
        "400":
          description: "Campaign could not be sent"
          schema:
            $ref: "#/definitions/errorModel"
        "402":
          description: "You don't have enough credit to send your campaign. Please\
            \ update your plan"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/sendTest:
    post:
      tags:
      - "Email Campaigns"
      summary: "Send an email campaign to your test list"
      operationId: "sendTestEmail"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "emailTo"
        required: true
        schema:
          $ref: "#/definitions/sendTestEmail"
        x-exportParamName: "EmailTo"
      responses:
        "204":
          description: "Test email has been sent successfully to all recipients"
        "400":
          description: "Test email could not be sent to the following email addresses"
          schema:
            $ref: "#/definitions/postSendFailed"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/status:
    put:
      tags:
      - "Email Campaigns"
      summary: "Update an email campaign status"
      operationId: "updateCampaignStatus"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "status"
        description: "Status of the campaign"
        required: true
        schema:
          $ref: "#/definitions/updateCampaignStatus"
        x-exportParamName: "Status"
      responses:
        "204":
          description: "The campaign status has been updated successfully"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/sendReport:
    post:
      tags:
      - "Email Campaigns"
      summary: "Send the report of a campaign"
      description: "A PDF will be sent to the specified email addresses"
      operationId: "sendReport"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "sendReport"
        description: "Values for send a report"
        required: true
        schema:
          $ref: "#/definitions/sendReport"
        x-exportParamName: "SendReport"
      responses:
        "204":
          description: "Report has been successfully sent to the defined recipients"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/abTestCampaignResult:
    get:
      tags:
      - "Email Campaigns"
      summary: "Get an A/B test email campaign results"
      description: "Obtain winning version of an A/B test email campaign"
      operationId: "getAbTestCampaignResult"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the A/B test campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      responses:
        "200":
          description: "A/B test email campaign Result"
          examples:
            application/json:
              winningVersion: "B"
              winningCriteria: "Click"
              openRate: "100%"
              clickRate: "50%"
              winningVersionRate: "0%"
              statistics:
                openers:
                  Version A: "20%"
                  Version B: "100%"
                clicks:
                  Version A: "0%"
                  Version B: "50%"
                unsubscribed:
                  Version A: "20%"
                  Version B: "0%"
                softBounces:
                  Version A: "0%"
                  Version B: "0%"
                hardBounces:
                  Version A: "0%"
                  Version B: "0%"
                complaints:
                  Version A: "0%"
                  Version B: "0%"
              clickedLinks:
                Version A:
                - link: "http://www.google.com"
                  clicksCount: 0
                  clickRate: "0%"
                - link: "http://www.youtube.com"
                  clicksCount: 0
                  clickRate: "0%"
                Version B:
                - link: "http://www.github.com"
                  clicksCount: 2
                  clickRate: "40%"
                - link: "http://www.stackoverflow.com"
                  clicksCount: 3
                  clickRate: "60%"
          schema:
            $ref: "#/definitions/abTestCampaignResult"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "A/B test Email Campaign not found"
          schema:
            $ref: "#/definitions/errorModel"
        "405":
          description: "Only email campaigns or templates are allowed"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/sharedUrl:
    get:
      tags:
      - "Email Campaigns"
      summary: "Get a shared template url"
      description: "Get a unique URL to share & import an email template from one\
        \ Sendinblue account to another."
      operationId: "getSharedTemplateUrl"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign or template"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      responses:
        "200":
          description: "Shared template URL information"
          examples:
            application/json:
              sharedUrl: "https://my.sendinblue.com/pt2YU7R5W_guXlowgumy_VX4pFsKu._zd0Gjj96x1_GMmzc1Qps5ZIpj6nx-"
          schema:
            $ref: "#/definitions/getSharedTemplateUrl"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign/Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/{campaignId}/exportRecipients:
    post:
      tags:
      - "Email Campaigns"
      summary: "Export the recipients of an email campaign"
      operationId: "emailExportRecipients"
      parameters:
      - name: "campaignId"
        in: "path"
        description: "Id of the campaign"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "CampaignId"
      - in: "body"
        name: "recipientExport"
        description: "Values to send for a recipient export request"
        required: false
        schema:
          $ref: "#/definitions/emailExportRecipients"
        x-exportParamName: "RecipientExport"
      responses:
        "202":
          description: "Recipient export request has been accepted"
          schema:
            $ref: "#/definitions/createdProcessId"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Campaign ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /emailCampaigns/images:
    post:
      tags:
      - "Email Campaigns"
      summary: "Upload an image to your account's image gallery"
      operationId: "uploadImageToGallery"
      parameters:
      - in: "body"
        name: "uploadImage"
        description: "Parameters to upload an image"
        required: true
        schema:
          $ref: "#/definitions/uploadImageToGallery"
        x-exportParamName: "UploadImage"
      responses:
        "201":
          description: "Image successfully uploaded"
          schema:
            $ref: "#/definitions/uploadImageModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/email:
    post:
      tags:
      - "Transactional emails"
      summary: "Send a transactional email"
      operationId: "sendTransacEmail"
      parameters:
      - in: "body"
        name: "sendSmtpEmail"
        description: "Values to send a transactional email"
        required: true
        schema:
          $ref: "#/definitions/sendSmtpEmail"
        x-exportParamName: "SendSmtpEmail"
      responses:
        "201":
          description: "transactional email sent"
          schema:
            $ref: "#/definitions/createSmtpEmail"
        "202":
          description: "transactional email scheduled"
          schema:
            $ref: "#/definitions/scheduleSmtpEmail"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/emails:
    get:
      tags:
      - "Transactional emails"
      summary: "Get the list of transactional emails on the basis of allowed filters"
      description: "This endpoint will show the list of emails for past 30 days by\
        \ default. To retrieve emails before that time, please pass startDate and\
        \ endDate in query filters."
      operationId: "getTransacEmailsList"
      parameters:
      - name: "email"
        in: "query"
        description: "Mandatory if templateId and messageId are not passed in query\
          \ filters. Email address to which transactional email has been sent."
        required: false
        type: "string"
        x-exportParamName: "Email"
        x-optionalDataType: "String"
      - name: "templateId"
        in: "query"
        description: "Mandatory if email and messageId are not passed in query filters.\
          \ Id of the template that was used to compose transactional email."
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "TemplateId"
        x-optionalDataType: "Int64"
      - name: "messageId"
        in: "query"
        description: "Mandatory if templateId and email are not passed in query filters.\
          \ Message ID of the transactional email sent."
        required: false
        type: "string"
        x-exportParamName: "MessageId"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date (YYYY-MM-DD) from\
          \ which you want to fetch the list. Maximum time period that can be selected\
          \ is one month."
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date (YYYY-MM-DD) till\
          \ which you want to fetch the list. Maximum time period that can be selected\
          \ is one month."
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Number of documents returned per page"
        required: false
        type: "integer"
        default: 500
        maximum: 1000
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document in the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "List of transactional emails"
          examples:
            application/json:
              count: 120
              transactionalEmails:
              - email: "abc@xyz.com"
                subject: "summer camp"
                templateId: 15
                messageId: "<201798300811.5787683@relay.domain.com>"
                uuid: "5a78c-209ok98262910-std2341"
                date: "2019-05-25T11:53:26Z"
              - email: "test@test.com"
                subject: "details verification"
                templateId: 15
                messageId: "<201798300811.5700093@relay.domain.com>"
                uuid: "5a78c-209ok98262910-s99a341"
                date: "2019-05-25T07:28:11Z"
          schema:
            $ref: "#/definitions/getTransacEmailsList"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/emails/{uuid}:
    get:
      tags:
      - "Transactional emails"
      summary: "Get the personalized content of a sent transactional email"
      operationId: "getTransacEmailContent"
      parameters:
      - name: "uuid"
        in: "path"
        description: "Unique id of the transactional email that has been sent to a\
          \ particular contact"
        required: true
        type: "string"
        x-exportParamName: "Uuid"
      responses:
        "200":
          description: "Transactional email content"
          examples:
            application/json:
              email: "abc@example.com"
              subject: "Summer Camps"
              templateId: 12
              date: "2016-02-25T11:53:26Z"
              events:
              - name: "sent"
                time: "2016-02-25T11:53:26Z"
              - name: "delivered"
                time: "2016-02-25T11:55:26Z"
              - name: "opened"
                time: "2016-02-26T09:53:26Z"
              body: "<!DOCTYPE html> <html> <body> <h1>Greetings from the team</h1>\
                \ <p>This is the actual html content sent</p> </body> </html>"
          schema:
            $ref: "#/definitions/getTransacEmailContent"
  /smtp/log/{messageId}:
    delete:
      tags:
      - "Transactional emails"
      summary: "Delete an SMTP transactional log"
      parameters:
      - name: "messageId"
        in: "path"
        description: "MessageId of the transactional log to delete"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "204":
          description: "Transactional Logs deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Message ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/templates:
    get:
      tags:
      - "Transactional emails"
      summary: "Get the list of email templates"
      operationId: "getSmtpTemplates"
      parameters:
      - name: "templateStatus"
        in: "query"
        description: "Filter on the status of the template. Active = true, inactive\
          \ = false"
        required: false
        type: "boolean"
        x-exportParamName: "TemplateStatus"
        x-optionalDataType: "Bool"
      - name: "limit"
        in: "query"
        description: "Number of documents returned per page"
        required: false
        type: "integer"
        default: 50
        maximum: 1000
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document in the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "transactional email templates informations"
          examples:
            application/json:
              count: 2
              templates:
              - id: 5
                name: "ChristomasTimeTemplate"
                subject: "Merry Christmas"
                isActive: false
                testSent: false
                sender:
                  name: "John"
                  email: "john.smith@example.com"
                  id: 23
                replyTo: "replyto@domain.com"
                toField: ""
                tag: "Festival"
                htmlContent: "HTML CONTENT 1"
                createdAt: "2016-02-24T14:44:24Z"
                modifiedAt: "2016-02-24T15:37:11Z"
              - id: 12
                name: "SummerSales2017Template"
                subject: "Enjoy our summer Sales !"
                isActive: true
                testSent: false
                sender:
                  name: "John"
                  email: "john.smith@example.com"
                  id: 23
                replyTo: "replyto@domain.com"
                toField: ""
                tag: "Summer"
                htmlContent: "HTML CONTENT 2"
                createdAt: "2016-02-25T11:53:26Z"
                modifiedAt: "2016-02-25T11:53:26Z"
          schema:
            $ref: "#/definitions/getSmtpTemplates"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Transactional emails"
      summary: "Create an email template"
      operationId: "createSmtpTemplate"
      parameters:
      - in: "body"
        name: "smtpTemplate"
        description: "values to update in transactional email template"
        required: true
        schema:
          $ref: "#/definitions/createSmtpTemplate"
        x-exportParamName: "SmtpTemplate"
      responses:
        "201":
          description: "transactional email template created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/templates/{templateId}:
    get:
      tags:
      - "Transactional emails"
      summary: "Returns the template information"
      operationId: "getSmtpTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "id of the template"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TemplateId"
      responses:
        "200":
          description: "Email template informations"
          examples:
            application/json:
              id: 33
              name: "OrderConfirmation"
              subject: "Order Confirmation : Thanks for your Purchase !"
              isActive: true
              testSent: false
              sender:
                name: "John"
                email: "john.smith@example.com"
                id: 26
              replyTo: "replyto@domain.com"
              toField: ""
              tag: ""
              htmlContent: "HTML CONTENT 4"
              createdAt: "2016-02-25T11:53:26Z"
              modifiedAt: "2016-02-25T11:53:26Z"
              doiTemplate: false
          schema:
            $ref: "#/definitions/getSmtpTemplateOverview"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Transactional emails"
      summary: "Update an email template"
      operationId: "updateSmtpTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "id of the template"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TemplateId"
      - in: "body"
        name: "smtpTemplate"
        description: "values to update in transactional email template"
        required: true
        schema:
          $ref: "#/definitions/updateSmtpTemplate"
        x-exportParamName: "SmtpTemplate"
      responses:
        "204":
          description: "transactional email template updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Transactional emails"
      summary: "Delete an inactive email template"
      operationId: "deleteSmtpTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "id of the template"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TemplateId"
      responses:
        "204":
          description: "Inactive transactional email template has been deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/templates/{templateId}/sendTest:
    post:
      tags:
      - "Transactional emails"
      summary: "Send a template to your test list"
      operationId: "sendTestTemplate"
      parameters:
      - name: "templateId"
        in: "path"
        description: "Id of the template"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TemplateId"
      - in: "body"
        name: "sendTestEmail"
        required: true
        schema:
          $ref: "#/definitions/sendTestEmail"
        x-exportParamName: "SendTestEmail"
      responses:
        "204":
          description: "Test email has been sent successfully to all recipients"
        "400":
          description: "Test email could not be sent to the following email addresses"
          schema:
            $ref: "#/definitions/postSendFailed"
        "404":
          description: "Template ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/statistics/aggregatedReport:
    get:
      tags:
      - "Transactional emails"
      summary: "Get your transactional email activity aggregated over a period of\
        \ time"
      description: "This endpoint will show the aggregated stats for past 90 days\
        \ by default if `startDate` and `endDate` OR `days` is not passed. The date\
        \ range can not exceed 90 days"
      operationId: "getAggregatedSmtpReport"
      parameters:
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD).\
          \ Must be lower than equal to endDate"
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD).\
          \ Must be greater than equal to startDate"
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "days"
        in: "query"
        description: "Number of days in the past including today (positive integer).\
          \ Not compatible with 'startDate' and 'endDate'"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Days"
        x-optionalDataType: "Int64"
      - name: "tag"
        in: "query"
        description: "Tag of the emails"
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Aggregated report informations"
          examples:
            application/json:
              range: "2016-09-08|2017-04-28"
              requests: 19887
              delivered: 18996
              hardBounces: 234
              softBounces: 1533
              clicks: 9987
              uniqueClicks: 8766
              opens: 17654
              uniqueOpens: 13688
              spamReports: 1
              blocked: 2
              invalid: 0
              unsubscribed: 2
          schema:
            $ref: "#/definitions/getAggregatedReport"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/statistics/reports:
    get:
      tags:
      - "Transactional emails"
      summary: "Get your transactional email activity aggregated per day"
      operationId: "getSmtpReport"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents returned per page"
        required: false
        type: "integer"
        default: 10
        maximum: 30
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document on the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD)"
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD)"
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "days"
        in: "query"
        description: "Number of days in the past including today (positive integer).\
          \ Not compatible with 'startDate' and 'endDate'"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Days"
        x-optionalDataType: "Int64"
      - name: "tag"
        in: "query"
        description: "Tag of the emails"
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Aggregated report informations"
          examples:
            application/json:
              reports:
              - date: "2017-04-30"
                requests: 10756
                delivered: 10103
                hardBounces: 21
                softBounces: 137
                clicks: 1026
                uniqueClicks: 720
                opens: 5091
                uniqueOpens: 2318
                spamReports: 0
                blocked: 519
                invalid: 1
                unsubscribed: 0
              - date: "2017-05-01"
                requests: 18812
                delivered: 17499
                hardBounces: 34
                softBounces: 254
                clicks: 1514
                uniqueClicks: 1090
                opens: 10089
                uniqueOpens: 4393
                spamReports: 0
                blocked: 920
                invalid: 2
                unsubscribed: 3
          schema:
            $ref: "#/definitions/getReports"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/statistics/events:
    get:
      tags:
      - "Transactional emails"
      summary: "Get all your transactional email activity (unaggregated events)"
      description: "This endpoint will show the aggregated stats for past 30 days\
        \ by default if `startDate` and `endDate` OR `days` is not passed. The date\
        \ range can not exceed 90 days"
      operationId: "getEmailEventReport"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number limitation for the result returned"
        required: false
        type: "integer"
        default: 2500
        maximum: 5000
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Beginning point in the list to retrieve from."
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date of the report (YYYY-MM-DD).\
          \ Must be lower than equal to endDate"
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date of the report (YYYY-MM-DD).\
          \ Must be greater than equal to startDate"
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "days"
        in: "query"
        description: "Number of days in the past including today (positive integer).\
          \ Not compatible with 'startDate' and 'endDate'"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Days"
        x-optionalDataType: "Int64"
      - name: "email"
        in: "query"
        description: "Filter the report for a specific email addresses"
        required: false
        type: "string"
        format: "email"
        x-exportParamName: "Email"
        x-optionalDataType: "String"
      - name: "event"
        in: "query"
        description: "Filter the report for a specific event type"
        required: false
        type: "string"
        enum:
        - "bounces"
        - "hardBounces"
        - "softBounces"
        - "delivered"
        - "spam"
        - "requests"
        - "opened"
        - "clicks"
        - "invalid"
        - "deferred"
        - "blocked"
        - "unsubscribed"
        - "error"
        - "loadedByProxy"
        x-exportParamName: "Event"
        x-optionalDataType: "String"
      - name: "tags"
        in: "query"
        description: "Filter the report for tags (serialized and urlencoded array)"
        required: false
        type: "string"
        x-exportParamName: "Tags"
        x-optionalDataType: "String"
      - name: "messageId"
        in: "query"
        description: "Filter on a specific message id"
        required: false
        type: "string"
        x-exportParamName: "MessageId"
        x-optionalDataType: "String"
      - name: "templateId"
        in: "query"
        description: "Filter on a specific template id"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "TemplateId"
        x-optionalDataType: "Int64"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Email events report informations"
          examples:
            application/json:
              events:
              - email: "john.smith@example.com"
                date: "2017-03-12T12:30:00Z"
                messageId: "<201798300811.5787683@example.domain.com>"
                event: "deferred"
                reason: "Error connection timeout"
                tag: "OrderConfirmation"
                from: "john@example.com"
                templateId: 4
              - email: "john.smith@example.com"
                date: "2017-03-13T16:30:00Z"
                messageId: "<201798300811.5787683@example.domain.com>"
                event: "delivered"
                tag: "OrderConfirmation"
                from: "john@example.com"
                templateId: 5
          schema:
            $ref: "#/definitions/getEmailEventReport"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/blockedContacts/{email}:
    delete:
      tags:
      - "Transactional emails"
      summary: "Unblock or resubscribe a transactional contact"
      parameters:
      - name: "email"
        in: "path"
        description: "contact email (urlencoded) to unblock."
        required: true
        type: "string"
        x-exportParamName: "Email"
      responses:
        "204":
          description: "Contact unblocked"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact email not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/blockedContacts:
    get:
      tags:
      - "Transactional emails"
      summary: "Get the list of blocked or unsubscribed transactional contacts"
      operationId: "getTransacBlockedContacts"
      parameters:
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date (YYYY-MM-DD) from\
          \ which you want to fetch the blocked or unsubscribed contacts"
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date (YYYY-MM-DD) till\
          \ which you want to fetch the blocked or unsubscribed contacts"
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Number of documents returned per page"
        required: false
        type: "integer"
        default: 50
        maximum: 100
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document on the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "senders"
        in: "query"
        description: "Comma separated list of emails of the senders from which contacts\
          \ are blocked or unsubscribed"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
        x-exportParamName: "Senders"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "List of blocked or unsubscribed transactional contacts"
          examples:
            application/json:
              contacts:
              - email: "abc@xyz.com"
                senderEmail: "ez312@gmal.com"
                reason:
                  message: "Admin blocked"
                  code: "adminBlocked"
                blockedAt: "2017-05-01T12:30:00Z"
              count: 1
          schema:
            $ref: "#/definitions/getTransacBlockedContacts"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/blockedDomains:
    get:
      tags:
      - "Transactional emails"
      summary: "Get the list of blocked domains"
      description: "Get the list of blocked domains"
      operationId: "getBlockedDomains"
      parameters: []
      responses:
        "200":
          description: "List of blocked domains"
          examples:
            application/json:
              domains:
              - "example.com"
              - "testdomain.com"
          schema:
            $ref: "#/definitions/getBlockedDomains"
    post:
      tags:
      - "Transactional emails"
      summary: "Add a new domain to the list of blocked domains"
      description: "Blocks a new domain in order to avoid messages being sent to the\
        \ same"
      operationId: "blockNewDomain"
      parameters:
      - in: "body"
        name: "blockDomain"
        required: true
        schema:
          $ref: "#/definitions/blockDomain"
        x-exportParamName: "BlockDomain"
      responses:
        "201":
          description: "Domain is successfully blocked"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/blockedDomains/{domain}:
    delete:
      tags:
      - "Transactional emails"
      summary: "Unblock an existing domain from the list of blocked domains"
      description: "Unblocks an existing domain from the list of blocked domains"
      operationId: "deleteBlockedDomain"
      parameters:
      - name: "domain"
        in: "path"
        description: "The name of the domain to be deleted"
        required: true
        type: "string"
        x-exportParamName: "Domain"
      responses:
        "204":
          description: "Domain is successfully deleted from the list of blocked domains"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Domain not found"
  /smtp/deleteHardbounces:
    post:
      tags:
      - "Transactional emails"
      summary: "Delete hardbounces"
      description: "Delete hardbounces. To use carefully (e.g. in case of temporary\
        \ ISP failures)"
      operationId: "deleteHardbounces"
      parameters:
      - in: "body"
        name: "deleteHardbounces"
        description: "values to delete hardbounces"
        required: false
        schema:
          $ref: "#/definitions/deleteHardbounces"
        x-exportParamName: "DeleteHardbounces"
      responses:
        "204":
          description: "Hardbounces deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/emailStatus/{batchId}:
    get:
      tags:
      - "Transactional emails"
      summary: "Fetch scheduled emails by batchId"
      description: "Fetch scheduled batch of emails by batchId (Can retrieve data\
        \ upto 30 days old)"
      operationId: "getScheduledEmailByBatchId"
      parameters:
      - name: "batchId"
        in: "path"
        description: "The batchId of scheduled emails batch (Should be a valid UUIDv4)"
        required: true
        type: "string"
        x-exportParamName: "BatchId"
      - name: "startDate"
        in: "query"
        description: "Mandatory if `endDate` is used. Starting date (YYYY-MM-DD) from\
          \ which you want to fetch the list. Can be maximum 30 days older tha current\
          \ date."
        required: false
        type: "string"
        format: "date"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if `startDate` is used. Ending date (YYYY-MM-DD) till\
          \ which you want to fetch the list. Maximum time period that can be selected\
          \ is one month."
        required: false
        type: "string"
        format: "date"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "status"
        in: "query"
        description: "Filter the records by `status` of the scheduled email batch\
          \ or message."
        required: false
        type: "string"
        enum:
        - "processed"
        - "inProgress"
        - "queued"
        x-exportParamName: "Status"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Number of documents returned per page"
        required: false
        type: "integer"
        default: 100
        maximum: 500
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document on the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      responses:
        "200":
          description: "Scheduled email batches"
          examples:
            application/json:
              count: 3
              batches:
              - scheduledAt: "2022-02-28T11:36:43.576000000Z"
                createdAt: "2022-02-26T11:36:43.576000000Z"
                status: "queued"
              - scheduledAt: "2022-02-25T11:36:43.576000000Z"
                createdAt: "2022-02-24T11:36:43.576000000Z"
                status: "processed"
              - scheduledAt: "2022-02-26T11:36:43.576000000Z"
                createdAt: "2022-02-25T11:36:43.576000000Z"
                status: "inProgress"
          schema:
            $ref: "#/definitions/getScheduledEmailByBatchId"
        "400":
          description: "Invalid parameters passed"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Records for batchId not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/emailStatus/{messageId}:
    get:
      tags:
      - "Transactional emails"
      summary: "Fetch scheduled email by messageId"
      description: "Fetch scheduled email by messageId (Can retrieve data upto 30\
        \ days old)"
      operationId: "getScheduledEmailByMessageId"
      parameters:
      - name: "messageId"
        in: "path"
        description: "The messageId of scheduled email"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date (YYYY-MM-DD) from\
          \ which you want to fetch the list. Can be maximum 30 days older tha current\
          \ date."
        required: false
        type: "string"
        format: "date"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date (YYYY-MM-DD) till\
          \ which you want to fetch the list. Maximum time period that can be selected\
          \ is one month."
        required: false
        type: "string"
        format: "date"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Scheduled email"
          examples:
            application/json:
              scheduledAt: "2022-02-28T11:36:43.576000000Z"
              createdAt: "2022-02-26T11:36:43.576000000Z"
              status: "queued"
          schema:
            $ref: "#/definitions/getScheduledEmailByMessageId"
        "400":
          description: "Invalid parameters passed"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Record for messageId not found"
          schema:
            $ref: "#/definitions/errorModel"
  /smtp/email/{identifier}:
    delete:
      tags:
      - "Transactional emails"
      summary: "Delete scheduled emails by batchId or messageId"
      description: "Delete scheduled batch of emails by batchId or single scheduled\
        \ email by messageId"
      operationId: "deleteScheduledEmailById"
      parameters:
      - name: "identifier"
        in: "path"
        description: "The `batchId` of scheduled emails batch (Should be a valid UUIDv4)\
          \ or the `messageId` of scheduled email."
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      responses:
        "204":
          description: "Scheduled email(s) deleted"
        "400":
          description: "Invalid parameters passed"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Record(s) for identifier not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts:
    get:
      tags:
      - "Contacts"
      summary: "Get all the contacts"
      operationId: "getContacts"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 50
        maximum: 1000
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "modifiedSince"
        in: "query"
        description: "Filter (urlencoded) the contacts modified after a given UTC\
          \ date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in\
          \ date-time format for accurate result."
        required: false
        type: "string"
        x-exportParamName: "ModifiedSince"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "All contacts listed"
          examples:
            application/json:
              contacts:
              - email: "contact1@example.com"
                id: 247
                emailBlacklisted: true
                smsBlacklisted: true
                createdAt: "2017-05-01T17:05:03Z"
                modifiedAt: "2017-05-01T17:05:03Z"
                listIds:
                - 43
                - 58
                attributes:
                  SMS: "33058407250"
                  IDENTIFICATION: "1-3RHQ-259"
                  CIV: "MS"
                  LAST_NAME: "Brennon"
                  FIRST_NAME: "Meg"
                  DOB: "1986-05-02"
                  ADDRESS: "1 5th avenue"
                  ZIP_CODE: "44300"
                  CITY: "New-York"
                  ACTION_CODE: "17HH98CH"
              - email: "33058407248@mailin-sms.com"
                id: 245
                emailBlacklisted: true
                smsBlacklisted: false
                createdAt: "2017-05-01T17:05:03Z"
                modifiedAt: "2017-05-01T17:05:03Z"
                listIds:
                - 43
                - 61
                - 58
                attributes:
                  SMS: "33058407248"
                  IDENTIFICATION: "1-78JS-432"
                  CIV: "MS"
                  LAST_NAME: "Press"
                  FIRST_NAME: "Sophia"
                  DOB: "1980-09-11"
                  ADDRESS: "5 Flower Street"
                  ZIP_CODE: "44119"
                  CITY: "Seattle"
                  ACTION_CODE: "17HU765"
              count: 3
          schema:
            $ref: "#/definitions/getContacts"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Contacts"
      summary: "Create a contact"
      operationId: "createContact"
      parameters:
      - in: "body"
        name: "createContact"
        description: "Values to create a contact"
        required: true
        schema:
          $ref: "#/definitions/createContact"
        x-exportParamName: "CreateContact"
      responses:
        "201":
          description: "Contact created"
          schema:
            $ref: "#/definitions/createUpdateContactModel"
        "204":
          description: "Contact updated"
          schema:
            $ref: "#/definitions/createUpdateContactModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/doubleOptinConfirmation:
    post:
      tags:
      - "Contacts"
      summary: "Create Contact via DOI (Double-Opt-In) Flow"
      operationId: "createDoiContact"
      parameters:
      - in: "body"
        name: "createDoiContact"
        description: "Values to create the Double opt-in (DOI) contact"
        required: true
        schema:
          $ref: "#/definitions/createDoiContact"
        x-exportParamName: "CreateDoiContact"
      responses:
        "201":
          description: "DOI Contact created"
        "204":
          description: "DOI Contact updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/{identifier}:
    get:
      tags:
      - "Contacts"
      summary: "Get a contact's details"
      description: "Along with the contact details, this endpoint will show the statistics\
        \ of contact for the recent 90 days by default. To fetch the earlier statistics,\
        \ please use Get contact campaign stats (https://developers.sendinblue.com/reference/contacts-7#getcontactstats)\
        \ endpoint with the appropriate date ranges."
      operationId: "getContactInfo"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Email (urlencoded) OR ID of the contact OR its SMS attribute\
          \ value"
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - name: "startDate"
        in: "query"
        description: "**Mandatory if endDate is used.** Starting date (YYYY-MM-DD)\
          \ of the statistic events specific to campaigns. Must be lower than equal\
          \ to endDate\n"
        required: false
        x-exportParamName: "StartDate"
      - name: "endDate"
        in: "query"
        description: "**Mandatory if startDate is used.** Ending date (YYYY-MM-DD)\
          \ of the statistic events specific to campaigns. Must be greater than equal\
          \ to startDate.\n"
        required: false
        x-exportParamName: "EndDate"
      responses:
        "200":
          description: "Contact informations"
          examples:
            application/json:
              email: "peggy.rain@example.com"
              id: 42
              emailBlacklisted: false
              smsBlacklisted: false
              createdAt: "2017-05-02T16:40:31Z"
              modifiedAt: "2017-05-02T16:40:31Z"
              attributes:
                FIRST_NAME: "Peggy"
                LAST_NAME: "Rain"
                SMS: "3087433387669"
                CIV: "1"
                DOB: "1986-04-13"
                ADDRESS: "987 5th avenue"
                ZIP_CODE: "87544"
                CITY: "New-York"
                AREA: "NY"
              listIds:
              - 40
              statistics:
                messagesSent:
                - campaignId: 21
                  eventTime: "2016-05-03T20:15:13Z"
                - campaignId: 42
                  eventTime: "2016-10-17T10:30:01Z"
                opened:
                - campaignId: 21
                  count: 2
                  eventTime: "2016-05-03T21:24:56Z"
                  ip: "66.249.93.118"
                - campaignId: 68
                  count: 1
                  eventTime: "2017-01-30T13:56:40Z"
                  ip: "66.249.93.217"
                clicked:
                - campaignId: 21
                  links:
                  - count: 2
                    eventTime: "2016-05-03T21:25:01Z"
                    ip: "66.249.93.118"
                    url: "https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=sendinblue&utm_campaign=test_camp&utm_medium=email"
                delivered:
                - campaignId: 21
                  eventTime: "2016-05-03T20:15:13Z"
          schema:
            $ref: "#/definitions/getExtendedContactDetails"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact's email not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Contacts"
      summary: "Update a contact"
      operationId: "updateContact"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Email (urlencoded) OR ID of the contact"
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - in: "body"
        name: "updateContact"
        description: "Values to update a contact"
        required: true
        schema:
          $ref: "#/definitions/updateContact"
        x-exportParamName: "UpdateContact"
      responses:
        "204":
          description: "Contact updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact's email not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Contacts"
      summary: "Delete a contact"
      operationId: "deleteContact"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Email (urlencoded) OR ID of the contact"
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      responses:
        "204":
          description: "Contact deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact not found"
          schema:
            $ref: "#/definitions/errorModel"
        "405":
          description: "You're not allowed to delete registered email contact with\
            \ SendinBlue"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/batch:
    post:
      tags:
      - "Contacts"
      summary: "Update multiple contacts"
      operationId: "updateBatchContacts"
      parameters:
      - in: "body"
        name: "updateBatchContacts"
        description: "Values to update multiple contacts"
        required: true
        schema:
          $ref: "#/definitions/updateBatchContacts"
        x-exportParamName: "UpdateBatchContacts"
      responses:
        "204":
          description: "All contacts updated"
        "207":
          description: "Few contacts updated"
          schema:
            $ref: "#/definitions/updateBatchContactsModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/{identifier}/campaignStats:
    get:
      tags:
      - "Contacts"
      summary: "Get email campaigns' statistics for a contact"
      operationId: "getContactStats"
      parameters:
      - name: "identifier"
        in: "path"
        description: "Email (urlencoded) OR ID of the contact"
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      - name: "startDate"
        in: "query"
        description: "Mandatory if endDate is used. Starting date (YYYY-MM-DD) of\
          \ the statistic events specific to campaigns. Must be lower than equal to\
          \ endDate"
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "endDate"
        in: "query"
        description: "Mandatory if startDate is used. Ending date (YYYY-MM-DD) of\
          \ the statistic events specific to campaigns. Must be greater than equal\
          \ to startDate. Maximum difference between startDate and endDate should\
          \ not be greater than 90 days"
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Contact campaign statistics informations"
          examples:
            application/json:
              from: "sendermail@example.com"
              tags:
              - "tag1"
              - "tag2"
              messagesSent:
              - campaignId: 21
                eventTime: "2016-05-03T20:15:13Z"
              - campaignId: 42
                eventTime: "2016-10-17T10:30:01Z"
              - campaignId: 45
                eventTime: "2016-11-09T11:45:02Z"
              opened:
              - campaignId: 21
                count: 2
                eventTime: "2016-05-03T21:24:56Z"
                ip: "66.249.93.118"
              - campaignId: 45
                count: 1
                eventTime: "2017-01-30T13:56:40Z"
                ip: "66.249.93.217"
              clicked:
              - campaignId: 21
                links:
                - count: 2
                  eventTime: "2016-05-03T21:25:01Z"
                  ip: "66.249.93.118"
                  url: "https://url.domain.com/fbe5387ec717e333628380454f68670010b205ff/1/go?uid={EMAIL}&utm_source=sendinblue&utm_campaign=test_camp&utm_medium=email"
              delivered:
              - campaignId: 21
                eventTime: "2016-05-03T20:15:13Z"
          schema:
            $ref: "#/definitions/getContactCampaignStats"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Contact's email not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/attributes:
    get:
      tags:
      - "Contacts"
      summary: "List all attributes"
      operationId: "getAttributes"
      parameters: []
      responses:
        "200":
          description: "Attributes listed"
          examples:
            application/json:
              attributes:
              - name: "LASTNAME"
                category: "normal"
                type: "text"
              - name: "FIRSTNAME"
                category: "normal"
                type: "text"
              - name: "DOB"
                category: "normal"
                type: "date"
              - name: "GENDER"
                category: "category"
                type: "text"
                enumeration:
                - value: 1
                  label: "Men"
                - value: 2
                  label: "Women"
                - value: 3
                  label: "Kid"
          schema:
            $ref: "#/definitions/getAttributes"
  /contacts/attributes/{attributeCategory}/{attributeName}:
    post:
      tags:
      - "Contacts"
      summary: "Create contact attribute"
      operationId: "createAttribute"
      parameters:
      - name: "attributeCategory"
        in: "path"
        description: "Category of the attribute"
        required: true
        type: "string"
        enum:
        - "normal"
        - "transactional"
        - "category"
        - "calculated"
        - "global"
        x-exportParamName: "AttributeCategory"
      - name: "attributeName"
        in: "path"
        description: "Name of the attribute"
        required: true
        type: "string"
        x-exportParamName: "AttributeName"
      - in: "body"
        name: "createAttribute"
        description: "Values to create an attribute"
        required: true
        schema:
          $ref: "#/definitions/createAttribute"
        x-exportParamName: "CreateAttribute"
      responses:
        "201":
          description: "Attribute created"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Contacts"
      summary: "Update contact attribute"
      operationId: "updateAttribute"
      parameters:
      - name: "attributeCategory"
        in: "path"
        description: "Category of the attribute"
        required: true
        type: "string"
        enum:
        - "category"
        - "calculated"
        - "global"
        x-exportParamName: "AttributeCategory"
      - name: "attributeName"
        in: "path"
        description: "Name of the existing attribute"
        required: true
        type: "string"
        x-exportParamName: "AttributeName"
      - in: "body"
        name: "updateAttribute"
        description: "Values to update an attribute"
        required: true
        schema:
          $ref: "#/definitions/updateAttribute"
        x-exportParamName: "UpdateAttribute"
      responses:
        "204":
          description: "Attribute updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Attribute not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Contacts"
      summary: "Delete an attribute"
      operationId: "deleteAttribute"
      parameters:
      - name: "attributeCategory"
        in: "path"
        description: "Category of the attribute"
        required: true
        type: "string"
        enum:
        - "normal"
        - "transactional"
        - "category"
        - "calculated"
        - "global"
        x-exportParamName: "AttributeCategory"
      - name: "attributeName"
        in: "path"
        description: "Name of the existing attribute"
        required: true
        type: "string"
        x-exportParamName: "AttributeName"
      responses:
        "204":
          description: "Attribute deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Attribute not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/folders:
    get:
      tags:
      - "Contacts"
      summary: "Get all folders"
      operationId: "getFolders"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: true
        type: "integer"
        default: 10
        maximum: 50
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: true
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Folders informations"
          examples:
            application/json:
              folders:
              - id: 42
                name: "Ninja_Form"
                totalBlacklisted: 98
                totalSubscribers: 4567
                uniqueSubscribers: 4665
              - id: 29
                name: "Prestashop"
                totalBlacklisted: 10
                totalSubscribers: 6543
                uniqueSubscribers: 6553
              count: 2
          schema:
            $ref: "#/definitions/getFolders"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Contacts"
      summary: "Create a folder"
      operationId: "createFolder"
      parameters:
      - in: "body"
        name: "createFolder"
        description: "Name of the folder"
        required: true
        schema:
          $ref: "#/definitions/createUpdateFolder"
        x-exportParamName: "CreateFolder"
      responses:
        "201":
          description: "Folder created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/folders/{folderId}:
    get:
      tags:
      - "Contacts"
      summary: "Returns a folder's details"
      operationId: "getFolder"
      parameters:
      - name: "folderId"
        in: "path"
        description: "id of the folder"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FolderId"
      responses:
        "200":
          description: "Folder details"
          examples:
            application/json:
              id: 1
              name: "Client_Folder"
              totalBlacklisted: 987
              totalSubscribers: 16778
              uniqueSubscribers: 17765
          schema:
            $ref: "#/definitions/getFolder"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Folder ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Contacts"
      summary: "Update a folder"
      operationId: "updateFolder"
      parameters:
      - name: "folderId"
        in: "path"
        description: "Id of the folder"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FolderId"
      - in: "body"
        name: "updateFolder"
        description: "Name of the folder"
        required: true
        schema:
          $ref: "#/definitions/createUpdateFolder"
        x-exportParamName: "UpdateFolder"
      responses:
        "204":
          description: "Folder updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Folder ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Contacts"
      summary: "Delete a folder (and all its lists)"
      operationId: "deleteFolder"
      parameters:
      - name: "folderId"
        in: "path"
        description: "Id of the folder"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FolderId"
      responses:
        "204":
          description: "Folder deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Folder ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/folders/{folderId}/lists:
    get:
      tags:
      - "Contacts"
      summary: "Get lists in a folder"
      operationId: "getFolderLists"
      parameters:
      - name: "folderId"
        in: "path"
        description: "Id of the folder"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FolderId"
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 10
        maximum: 50
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Folder's Lists details"
          examples:
            application/json:
              lists:
              - id: 46
                name: "Reactiv"
                totalSubscribers: 7655
                totalBlacklisted: 0
                uniqueSubscribers: 7655
              - id: 41
                name: "NY_Area"
                totalSubscribers: 3654
                totalBlacklisted: 23
                uniqueSubscribers: 3677
              - id: 22
                name: "VIP_Customer"
                totalSubscribers: 8753
                totalBlacklisted: 72
                uniqueSubscribers: 8826
              count: 3
          schema:
            $ref: "#/definitions/getFolderLists"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "Folder ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/lists:
    get:
      tags:
      - "Contacts"
      summary: "Get all the lists"
      operationId: "getLists"
      parameters:
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 10
        maximum: 50
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Lists informations"
          examples:
            application/json:
              lists:
              - id: 53
                name: "Spanish_Speakers"
                totalSubscribers: 5432
                totalBlacklisted: 65
                uniqueSubscribers: 5497
                folderId: 1
              - id: 50
                name: "Other"
                totalSubscribers: 10976
                totalBlacklisted: 765
                uniqueSubscribers: 11741
                folderId: 2
              count: 2
          schema:
            $ref: "#/definitions/getLists"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
    post:
      tags:
      - "Contacts"
      summary: "Create a list"
      operationId: "createList"
      parameters:
      - in: "body"
        name: "createList"
        description: "Values to create a list"
        required: true
        schema:
          $ref: "#/definitions/createList"
        x-exportParamName: "CreateList"
      responses:
        "201":
          description: "List created"
          schema:
            $ref: "#/definitions/createModel"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/lists/{listId}:
    get:
      tags:
      - "Contacts"
      summary: "Get a list's details"
      operationId: "getList"
      parameters:
      - name: "listId"
        in: "path"
        description: "Id of the list"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ListId"
      responses:
        "200":
          description: "List informations"
          examples:
            application/json:
              id: 12
              name: "Newsletter_Weekly"
              totalSubscribers: 6533
              totalBlacklisted: 63
              uniqueSubscribers: 6596
              folderId: 1
              createdAt: "2016-02-26T11:56:08Z"
              campaignStats:
              - campaignId: 15
                stats:
                  uniqueClicks: 701
                  clickers: 789
                  complaints: 0
                  delivered: 6632
                  sent: 6645
                  softBounces: 34
                  hardBounces: 4
                  uniqueViews: 3442
                  unsubscriptions: 4
                  viewed: 4322
                  deferred: 0
              - campaignId: 45
                stats:
                  uniqueClicks: 654
                  clickers: 788
                  complaints: 1
                  delivered: 4078
                  sent: 4334
                  softBounces: 18
                  hardBounces: 2
                  uniqueViews: 987
                  unsubscriptions: 4
                  viewed: 1555
                  deferred: 0
              dynamicList: false
          schema:
            $ref: "#/definitions/getExtendedList"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "List ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    put:
      tags:
      - "Contacts"
      summary: "Update a list"
      operationId: "updateList"
      parameters:
      - name: "listId"
        in: "path"
        description: "Id of the list"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ListId"
      - in: "body"
        name: "updateList"
        description: "Values to update a list"
        required: true
        schema:
          $ref: "#/definitions/updateList"
        x-exportParamName: "UpdateList"
      responses:
        "204":
          description: "List updated"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "List ID not found"
          schema:
            $ref: "#/definitions/errorModel"
    delete:
      tags:
      - "Contacts"
      summary: "Delete a list"
      operationId: "deleteList"
      parameters:
      - name: "listId"
        in: "path"
        description: "Id of the list"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ListId"
      responses:
        "204":
          description: "List deleted"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "List ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/lists/{listId}/contacts:
    get:
      tags:
      - "Contacts"
      summary: "Get contacts in a list"
      operationId: "getContactsFromList"
      parameters:
      - name: "listId"
        in: "path"
        description: "Id of the list"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ListId"
      - name: "modifiedSince"
        in: "query"
        description: "Filter (urlencoded) the contacts modified after a given UTC\
          \ date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in\
          \ date-time format for accurate result."
        required: false
        type: "string"
        x-exportParamName: "ModifiedSince"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Number of documents per page"
        required: false
        type: "integer"
        default: 50
        maximum: 500
        minimum: 0
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "offset"
        in: "query"
        description: "Index of the first document of the page"
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "sort"
        in: "query"
        description: "Sort the results in the ascending/descending order of record\
          \ creation. Default order is **descending** if `sort` is not passed"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Contact informations"
          examples:
            application/json:
              contacts:
              - email: "alex.pain@example.com"
                id: 45
                emailBlacklisted: false
                smsBlacklisted: true
                createdAt: "2017-05-12T12:30:00Z"
                modifiedAt: "2017-05-12T12:30:00Z"
                listIds:
                - 12
                - 9
                - 20
                listUnsubscribed:
                - 1
                - 2
                attributes:
                  LASTNAME: "Pain"
                  FIRSTNAME: "Alex"
                  DOB: "2010-12-31"
                  GENDER: "Kid"
              - email: "john.smith@example.com"
                id: 32
                emailBlacklisted: true
                smsBlacklisted: false
                createdAt: "2017-05-12T12:30:00Z"
                modifiedAt: "2017-05-12T12:30:00Z"
                listIds:
                - 12
                listUnsubscribed:
                - 1
                attributes:
                  LASTNAME: "Smith"
                  FIRSTNAME: "John"
                  DOB: "1986-06-21"
                  GENDER: "Men"
              - email: "helen.rose@example.com"
                id: 65
                emailBlacklisted: true
                smsBlacklisted: false
                createdAt: "2017-05-12T12:30:00Z"
                modifiedAt: "2017-05-12T12:30:00Z"
                listIds:
                - 12
                - 9
                - 20
                listUnsubscribed:
                - 1
                attributes:
                  LASTNAME: "Rose"
                  FIRSTNAME: "Helen"
                  DOB: "1988-11-02"
                  GENDER: "Women"
                  SMS: "3375599887766"
              count: 17655
          schema:
            $ref: "#/definitions/getContacts"
        "400":
          description: "bad request"
          schema:
            $ref: "#/definitions/errorModel"
        "404":
          description: "List ID not found"
          schema:
            $ref: "#/definitions/errorModel"
  /contacts/lists/{listId}/contacts/add:
    post:
      tags:
      - "Contacts"
      summary: "Add existing contacts to a list"
      operationId: "addContactToList"
      parameters:
      - name: "listId"
        in: "path"
        description: "Id of the list"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ListId"
      - in: "body"
        name: "contactEmails"
        description: "Emails addresses OR IDs of the contacts"
        required: true
        schema:
          $ref: "#/definitions/addContactToList"
        x-exportParamName: "ContactEmails"
[...]
